<div class='game-header'>
  <h5>Currently in game #{{ game.pk }}</h5>
  <h6><span class='gamestate'>{{ game.gamestate_display }}</span></h6>
  {% if you.game_owner and game.gamestate == 'unstarted' %}<a href='{% url 'start_game' game.pk %}'><button class='header-button'>Start Game</button></a>{% endif %}
  {% if you.host and game.gamestate == 'trading' %}<a href='{% url 'propose_toast' game.pk %}'><button class='header-button'>Propose Toast</button></a><br />{% endif %}
  {% if game.gamestate == 'trading' and you.host %}<a class='poison-drink-desktop-link' href='{% url 'poison_drink' game.pk %}'><button class='header-button'>Poison your drink</button></a>{% endif %}
</div>
<div class="game-body-container">
  <div class='game-body-header'>
    <h4 class='players-title'>Players</h4>
    {% if you.last_trade %}
      <div class='last-trade-container'>
        <span class='last-trade'>traded with: <span class="name">{{ you.last_trade }}</span></span>
      </div>
    {% endif %}
  </div>
  <ul class='player-list'>
    {% for player in game.player_set.all %}
      <li>
          <div class="player-item public-role-container">
            {% if not player.host and not player.serve %}<span>&nbsp;</span>{% endif %}
            {% if player.host %}[A]{% endif %}
            {% if player.server %}[S]{% endif %}
          </div>
          <div class="player-item name-container">
            {% if not player.alive %}<strike>{% endif %}
            {% if player.pk == you.pk %}<strong>{% endif %}
              {{ player }}
            {% if player.pk == you.pk %}</strong>{% endif %}
            {% if not player.alive %}</strike>{% endif %}
          </div>
          <div class='player-item drink-container'>
            {% for drink in player.drink_set.all %}<img class='{% if player.pk == you.pk %}your-drink-icon {% endif %}drink-icon' src='{{ drink.icon }}' />{% endfor %}
          </div>
        {% if player.alive %}
          <div class="player-item options-container">
            {% if you.host and game.gamestate == 'choosing' and you.pk != player.pk %}
              <a href='{% url 'choose_server' game.pk player.pk %}'>Choose as server</a>
            {% endif %}
            {% if you.server and game.gamestate == 'serving' and not player.drink_set.all %}
              <a href='{% url 'serve_drink' game.pk player.pk %}'>Serve drink</a>
            {% endif %}
            {% if you in player.wants_to_trade_with_me.all %}
              <span>Trade Offered</span>
            {% endif %}
            {% if game.gamestate == 'trading' and player != you and you not in player.wants_to_trade_with_me.all %}
              <a class='offer-to-trade' href='{% url 'offer_trade' game.pk player.pk %}'>
                {% if player in you.wants_to_trade_with_me.all %}
                  <span class='wants-trade'>Wants Trade</span>
                {% else %}
                  <span class='trade'> Trade </span>
                {% endif %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if you.team %}
    <div class="team-info-container">
      <button class="team-box-toggle">Show / Hide team name</button>
      <div class="team-box">
        {{ you.team_display }}{% if you.team == 'traitor' %}:{% if you.has_poison %} You have poison{% else %} You have used your poison for this round{% endif %}{% endif %}
      </div>
    </div>
  {% endif %}
</div>
