.index-container {
    @include span-columns(12);
    padding: 20px;
    .stats-container {
        background-color:$main-highlight;
        display:inline-block;
        border: 1px solid black;
        padding:10px

    }

}
