//Variables go here.
$background: #B3AAA3;
$secondary-background: #E0DCDB;
$main-text: black;
$main-highlight: #8A5C1E;
$secondary-highlight: #572800;
$tertiary-highlight: #817871;
$attention-background: #72AD75;
