//Variables go here.
$background: #F8E4C1;
$secondary-background: #FFEDBF;
$main-text: #2E0D23;
$main-highlight: #F54828;
$secondary-highlight: #F7803C;
$tertiary-highlight: #817871;
$attention-background: #72AD75;
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
$main-font: 'Bree Serif', serif;
