/* uncomment for bourbon and neat */
/* http://bourbon.io/docs/ */
@import 'bourbon/bourbon';
/* bitters (base) must go before neat */
@import 'base/base';
/* http://neat.bourbon.io/docs/ */
@import 'neat/neat';


@import "variables";
@import "buttons";
@import "forms";
@import "header";
@import "footer";
@import 'game-detail';
@import 'messages';
@import 'index';
@import 'player_name';
@import 'rules';


/* comment to turn off grid */
$visual-grid: true;


body {
    @include outer-container;
    background-color: $background;
    color: $main-text;
    font-family: $main-font;
}
h1, h2, h3, h4, h5, h6, p, button {
    font-family: $main-font;

}
a {
    color: $main-highlight;
}
a:hover {
    color: $main-text;

}
button {
    background-color: $main-highlight;
    color:white;
    border:1px solid $main-highlight;
}
button:hover {
    background-color:$main-text;
}
