{% extends "base.html" %}

{% block title %}
Toast: Party Assassin
{% endblock title %}


{% block content %}
<div class='game-detail-container'>
  {% include 'snippets/game-meat.html' %}
</div>
{% endblock content %}
{% block body_media %}
<script>
  window.onload = function() {
    refresh = function() {
        $.ajax({
          url: "{% url 'game_detail' game.pk %}",
          success: function(data) {
            $('.game-detail-container').html(data);
            set_jquery_binds();
          }
        });
    };
    {% if successfully_poisoned %}
      $('.your-drink-icon').addClass('poisoned')
      setTimeout(function(){
        $('.your-drink-icon').removeClass('poisoned')
      }, 1000);
    {% endif %}

    set_jquery_binds = function() {
      $('.team-box-toggle').click(function() {
        $('.team-box').toggle();
      });
    };
    setInterval("refresh()", 5000);
    set_jquery_binds();

  };
</script>
{% endblock body_media %}
