{% extends "base.html" %}

{% block title %}
Toast: Party Assassin
{% endblock title %}


{% block content %}
{% load static from staticfiles %}
<div class="index-container">
  <h1>Toast: Party Assassin</h1>
  <div class="option">
    <a href="{% url 'create_custom_game' %}"><button>Create Custom Game</button></a>
    <a href="{% url 'create_team_game' %}"><button>Create Quick Team Game</button></a>
  </div>
  <div class="option">
    <a href="{% url 'continue' %}"><button>Return to game already joined</button></a>
  </div>
  <div class='or'>- OR -</div>
  <div class="option">
    <form class='find-game-form' action="{% url 'find_game' %}" method="get">
      {{ form.game_number }}
      <div class="button-container">
        <button type="submit">Find Game</button>
      </div>
    </form>
  </div>
  {% comment %}
  <div class='stats-container'>
    <div class="stats">
      <h6>As of the last time we purged the database:</h6>
      <div class='stat'>
        {{ loyalist_wins }} - loyalist wins
      </div>
      <div class='stat'>
        {{ traitor_wins }} - traitor wins
      </div>
      <div class='stat'>
        {{ no_wins }} - games ended without winning team
      </div>
      <div class='stat'>
        {{ total_players }} - total players (real or imagined)
      </div>
    </div>
  {% endcomment %}
</div>

{% endblock content %}
